:root {
  font-family: "Atkinson Hyperlegible Next", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* fonts */
  --font-body-sans: "Atkinson Hyperlegible Next", sans-serif;
  --font-body-mono: "Atkinson Hyperlegible Mono", monospace;
  
  --font-size-body: 14px;

  /* palette */
  --white: #ececec;
  --black: #0c0c0c;
  --panel-0: #242424;
  --panel-1: #383838;
  --panel-2: #4b4b4b;
  --panel-3: #5e5e5e;

  --radius-0: 2px;

  --padding-main: 8px;
  --padding-side-outer: 24px;

  
  /* body and text colours */
  color: var(--white);
  background-color: var(--panel-0);
}

/* Fonts */
@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('./assets/AtkinsonHyperlegibleNext-VariableFont_wght.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('./assets/AtkinsonHyperlegibleNext-VariableFont_wght.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('./assets/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('./assets/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Atkinson Hyperlegible Mono';
  src: url('./assets/AtkinsonHyperlegibleMono-VariableFont_wght.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}


html, body, main {
  height: 100%;
  margin: 0;
}

button {
  background-color: var(--panel-2);
  color: var(--white);
  border: none;
  border-radius: var(--radius-0);
  min-height: 24px;

  font-family: "Atkinson Hyperlegible Next", sans-serif;
}

button:hover {
  background-color: var(--panel-3);
  cursor: pointer;
}

hr {
  width: 100%;
  border: 1px solid var(--panel-3);
}

.mono { 
  font-family: "Atkinson Hyperlegible Mono", monospace;
}

/* Make scrollbar background transparent */
::-webkit-scrollbar {
  width: 6px; /* or whatever you prefer */
  background: transparent;
}

/* Transparent track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4); /* semi-transparent thumb */
  border-radius: 4px;
}

/* Optional: hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* input {
  
} */